<div class="product-filter flex-row">
  <app-base-select [control]="categoryControl"
                   label="Категория"
                   [items]="categories"
                   [itemMapper]="categoryMapper"
                   (selectionChange)="selectCategory()">
  </app-base-select>

  <app-base-select [control]="typeControl"
                   label="Тип"
                   [items]="category?.types || []"
                   (selectionChange)="updateProductPattern()">
  </app-base-select>
</div>
