<div class="content-management-section__container">
  <div class="flex-column">
    <button mat-mini-fab
            color="accent"
            (click)="openFileSelectDialog()">
      <input class="display-none"
             type="file"
             accept="image/jpeg,image/png,video/mp4"
             (input)="selectFile()"
             #fileInput>

      <mat-icon>library_add</mat-icon>
    </button>

    <p></p>

    <button mat-mini-fab
            color="accent"
            *ngIf="canRestoreImage"
            (click)="removeSelected()">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
  </div>
</div>
