<div class="paginator flex-row">
  <app-base-select label="Страница"
                   [items]="pageVariants"
                   [itemMapper]="pageMapper"
                   (selectionChange)="updatePageOptions()"
                   [control]="pageControl">
  </app-base-select>

  <app-base-select label="Размер страницы"
                   [items]="pageLimitVariants"
                   (selectionChange)="updatePageOptions()"
                   [control]="limitControl">
  </app-base-select>
</div>
