<div class="flex-row">
  <div class="flex-grow-3"></div>

  <button mat-icon-button
          [disabled]="previousDisabled"
          (click)="previous()">
    <mat-icon>arrow_left</mat-icon>
  </button>

  <mat-form-field appearance="outline">
    <input matInput
           [(ngModel)]="page"
           [min]="1"
           [max]="pageResult.totalPages"
           (change)="updatePageOptions()">
  </mat-form-field>

  <div class="flex-grow-1"></div>

  <mat-form-field appearance="outline">
    <input matInput
           [(ngModel)]="limit"
           [min]="1"
           [max]="pageResult.docs.length"
           (change)="updatePageOptions()">
  </mat-form-field>

  <div class="flex-grow-1"></div>

  <button mat-icon-button
          [disabled]="nextDisabled"
          (click)="next()">
    <mat-icon>arrow_right</mat-icon>
  </button>

  <div class="flex-grow-3"></div>
</div>
