<div class="order__list flex-row">
  <button mat-button
          *ngIf="(orderPage | async).hasPrevPage"
          (click)="updatePage(-1)">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <mat-accordion class="flex-grow-1" [multi]="true">
    <mat-expansion-panel *ngFor="let order of orders | async">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ order.name }}</mat-panel-title>
        <mat-panel-description>
          {{ order.phone }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-table [dataSource]="createTableDataSource(order)">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> №</mat-header-cell>
          <mat-cell *matCellDef="let i = index"> {{ i + 1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Продукт</mat-header-cell>
          <mat-cell *matCellDef="let line"> {{ line.product.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Количество</mat-header-cell>
          <mat-cell *matCellDef="let line"> х {{ line.amount }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef> Всего</mat-header-cell>
          <mat-cell *matCellDef="let line"> {{ (line.product.price * line.amount).toFixed(2) }}р.</mat-cell>
        </ng-container>

        <ng-container matColumnDef="productView">
          <mat-header-cell *matHeaderCellDef> Посмотреть продукт</mat-header-cell>
          <mat-cell *matCellDef="let line">
            <button mat-icon-button>
              <mat-icon (click)="productPreview.next(line.product)">
                open_in_new
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['position', 'name', 'amount', 'total', 'productView']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['position', 'name', 'amount', 'total', 'productView'];"></mat-row>
      </mat-table>

      <div class="flex-row justify-flex-end">
        <button mat-icon-button
                (click)="removeOrder(order)">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-button
          *ngIf="(orderPage | async).hasNextPage"
          (click)="updatePage(1)">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <div class="flex-column"
       *ngIf="productPreview | async">
    <button mat-button
            (click)="productPreview.next(null)">
      Скрыть
      <mat-icon>
        arrow_right
      </mat-icon>
    </button>

    <app-product-item [product]="productPreview | async"
                      (update)="productPreview.next($event)">
    </app-product-item>
  </div>
</div>
