<div class="flex-column">
  <div class="product__navigation flex-row">
    <app-paginator [pageResult]="pageResult | async"
                   (paginateOptions)="updateProducts($event)">
    </app-paginator>

    <div class="flex-grow-5"></div>

    <app-product-filter [allCategories]="allCategories | async"
                        (productPattern)="setProductPattern($event)">
    </app-product-filter>

    <div class="flex-grow-1"></div>
  </div>

  <div class="flex-row flex-wrap">
    <app-add-product-button (created)="onProductUpdate($event)">
    </app-add-product-button>

    <app-product-item *ngFor="let product of products | async"
                      (update)="onProductUpdate($event)"
                      (remove)="updateCategories()"
                      [product]="product">
    </app-product-item>

    <app-add-product-button (created)="onProductUpdate($event)">
    </app-add-product-button>
  </div>
</div>
