<div class="flex-row flex-wrap">

  <div class="flex-row">
    <button mat-icon-button>
      <mat-icon>
        arrow_left
      </mat-icon>
    </button>

    <mat-form-field appearance="outline">
      <input matInput
             [disabled]="pageFieldDisabled | async"
             min="1" [max]="">
    </mat-form-field>

    <button mat-icon-button>
      <mat-icon>
        arrow_left
      </mat-icon>
    </button>

    <mat-select [value]="_selectedCategory"></mat-select>
  </div>

  <p></p>

  <app-product-item *ngFor="let product of products | async"
                    (update)="onProductUpdate()"
                    [product]="product">
  </app-product-item>

  <app-product-item *ngIf="isCreateMode"
                    (update)="onProductUpdate()"
                    (cancel)="isCreateMode = false"
                    [inCreateMode]="true">
  </app-product-item>

  <div *ngIf="!isCreateMode"
       class="product-list__add-product-section flex-row flex-center">
    <div class="product-list__add-product-container flex-column flex-center">
      <div class="flex-row flex-center">
        <button mat-fab
                (click)="isCreateMode = true">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <p>Добавить новый продукт</p>
    </div>
  </div>
</div>
