<div class="flex-column">
  <div class="flex-column flex-center flex-align-center">
    <h1>Панель управления</h1>
  </div>
  <br>

  <div class="flex-row flex-center flex-wrap">
    <div class="flex-grow-5"></div>

    <app-action-panel routerLink="/product"
                      actionIconSvg="product"
                      [actionText]="LabelsConstants.PRODUCTS">
    </app-action-panel>

    <div class="flex-grow-1"></div>

    <app-action-panel routerLink="/order"
                      actionIconSvg="order"
                      [actionText]="LabelsConstants.ORDERS">
    </app-action-panel>

    <div class="flex-grow-1"></div>

    <app-action-panel actionIconSvg="new"
                      [actionText]="LabelsConstants.MAILING">
    </app-action-panel>

    <div class="flex-grow-1"></div>

    <app-action-panel actionIcon="exit_to_app"
                      [actionText]="LabelsConstants.EXIT"
                      (click)="signOut()">
    </app-action-panel>

    <div class="flex-grow-5"></div>
  </div>
</div>
