.product-item {
  margin: 20px;

  &__description-field {
    textarea {
      resize: none;
    }
  }

  &__organisation-settings-section {
    margin: 10px;
  }

  &__actions {
    &-container {
      position: relative;
    }

    position: absolute;
    top: -43px;
    right: 0;
  }
}
