<div [class.scale-on-hover]="!inFormState">
  <mat-card class="product-item">
    <div class="product-item__actions-container">
      <app-actions-section class="product-item__actions"
                           [formInvalid]="formInvalid"
                           [inEditMode]="inEditMode"
                           [inCreateMode]="inCreateMode"
                           (edit)="enableEditMode()"
                           (remove)="removeProduct()"
                           (submitChanges)="submitChanges()"
                           (cancel)="cancelChanges()">
      </app-actions-section>
    </div>

    <app-header-section [inFormState]="inFormState"
                        [inEditMode]="inEditMode"
                        [product]="product">
    </app-header-section>

    <app-media-preview-section [inFormState]="inFormState"
                               (mediaFile)="setFile($event)"
                               [alreadyLoadedMediaUrl]="mediaUrl">
    </app-media-preview-section>

    <mat-card-content>
      <app-view-section *ngIf="!inFormState"
                        [product]="product">
      </app-view-section>

      <div *ngIf="inFormState"
           class="flex-column">
        <app-name-section [nameControl]="nameControl">
        </app-name-section>

        <app-price-section [priceControl]="priceControl">
        </app-price-section>

        <app-description-section [descriptionControl]="descriptionControl">
        </app-description-section>

        <app-category-type-section *ngIf="allCategories"
                                   [categories]="allCategories"
                                   [categoryControl]="categoryControl"
                                   [defaultCategory]="defaultCategory"
                                   [defaultType]="defaultType"
                                   [typeControl]="typeControl">
        </app-category-type-section>
      </div>
    </mat-card-content>
  </mat-card>
</div>
