<mat-card class="product">
  <app-product-item-header [inFormState]="inFormState"
                           [inEditMode]="inEditMode"
                           [product]="product">
  </app-product-item-header>

  <app-product-item-content-management-section *ngIf="inFormState"
                                               [inEditMode]="inEditMode"
                                               (file)="setFileAndDisplayType($event)"
                                               (removeFile)="removeFileAndPlaceholder()">
  </app-product-item-content-management-section>

  <app-product-item-content-section [displayType]="displayTypeControl.value"
                                    [imageUrl]="imageUrl"
                                    [videoUrl]="videoUrl">
  </app-product-item-content-section>

  <mat-card-content>
    <app-product-item-view-section *ngIf="!inFormState"
                                   [product]="product">
    </app-product-item-view-section>

    <div *ngIf="inFormState"
         class="flex-column">
      <app-product-item-name-section [nameControl]="nameControl">
      </app-product-item-name-section>

      <app-product-item-price-section [priceControl]="priceControl">
      </app-product-item-price-section>

      <app-product-item-description-section [descriptionControl]="descriptionControl">
      </app-product-item-description-section>

      <div class="product__organisation-settings-section flex-row">
        <mat-slide-toggle color="primary"
                          [(ngModel)]="inNewCategoryMode"
                          (change)="setNewCategoryDefaultValues()">
          {{LabelsConstants.NEW_CATEGORY}}
        </mat-slide-toggle>

        <div class="flex-grow-1"></div>

        <mat-slide-toggle color="primary"
                          [(ngModel)]="inNewTypeMode"
                          [disabled]="inNewCategoryMode">
          {{LabelsConstants.NEW_TYPE}}
        </mat-slide-toggle>
      </div>

      <app-product-item-category-section (categorySelected)="setTypes($event.productTypes)"
                                         [allCategories]="allCategories"
                                         [categoryControl]="categoryControl"
                                         [inNewCategoryMode]="inNewCategoryMode">
      </app-product-item-category-section>

      <app-product-item-type-section [allTypes]="allTypes"
                                     [inNewTypeMode]="inNewTypeMode"
                                     [typeControl]="typeControl">
      </app-product-item-type-section>
    </div>

    <app-product-item-actions [formInvalid]="formInvalid"
                              [inEditMode]="inEditMode"
                              [inFormState]="inFormState"
                              (edit)="enableEditMode()"
                              (remove)="removeProduct()"
                              (submitChanges)="submitChanges()"
                              (cancel)="cancelChanges()">
    </app-product-item-actions>
  </mat-card-content>
</mat-card>
