<mat-card-actions>
  <ng-container *ngIf="!inFormState else formCardActions">
    <button mat-raised-button
            color="accent"
            (click)="edit.next()">
      {{LabelsConstants.CHANGE}}
    </button>
    <button mat-raised-button
            (click)="remove.next()"
            color="accent">
      {{LabelsConstants.REMOVE}}
    </button>
  </ng-container>
</mat-card-actions>

<ng-template #formCardActions>
    <button mat-raised-button
            color="primary"
            [disabled]="formInvalid"
            (click)="submitChanges.next()">
      {{ inEditMode ? LabelsConstants.UPDATE : LabelsConstants.CREATE }}
    </button>

    <button mat-raised-button
            color="warn"
            *ngIf="inFormState"
            (click)="cancel.next()">
      {{LabelsConstants.CANCEL}}
    </button>
</ng-template>
