<mat-form-field class="product-item__category-section"
                *ngIf="!inNewCategoryMode else newCategoryField">
  <mat-label>{{LabelsConstants.CATEGORY}}</mat-label>
  <mat-select [formControl]="categoryControl"
              (selectionChange)="selectCategory($event)">
    <mat-option *ngFor="let category of allCategories"
                [value]="category.name">
      {{ category.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-template #newCategoryField>
  <mat-form-field class="product-item__category-section">
    <mat-label>{{LabelsConstants.CATEGORY}}</mat-label>
    <input matInput
           [formControl]="categoryControl"
           autocomplete="off">
  </mat-form-field>
</ng-template>
