<mat-form-field class="product-item__name-section">
  <mat-label>{{LabelsConstants.NAME}}</mat-label>

  <input matInput
         [formControl]="nameControl"
         autocomplete="off"
         [maxlength]="ValidationConstants.MAX_PRODUCT_NAME_LENGTH.toString()">

  <mat-error *ngIf="nameControl.invalid">
    {{LabelsConstants.YOU_MUST_ENTER_VALUE}}
  </mat-error>

  <mat-hint align="end">
    {{ nameControl.value.length }} / {{ValidationConstants.MAX_PRODUCT_NAME_LENGTH}}
  </mat-hint>
</mat-form-field>
