.media-preview {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  &__content {
    object-fit: contain;
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;

    &_edit {
      max-width: 460px;
      margin-bottom: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &__upload-section {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 40px;
  }
}
