<div class="flex-row flex-center">
  <div class="sing-in flex-column flex-center">
    <h1>{{LabelsConstants.INPUT_TOKEN}}</h1>

    <app-base-text-field [control]="tokenFormControl"
                         class="sing-in__token-field"
                         [maxLength]="ValidationConstants.TELEGRAM_TOKEN_LENGTH"
                         [isPassword]="true"
                         [label]="LabelsConstants.TOKEN">
    </app-base-text-field>

    <div class="flex-row">
      <app-base-button type="stroked"
                       class="flex-grow-2"
                       icon="menu"
                       [disabled]="tokenFormControl.invalid"
                       (buttonClick)="signIn()">
        {{LabelsConstants.ENTER}}
      </app-base-button>

      <div class="flex-grow-1"></div>

      <app-base-button type="stroked"
                       class="flex-grow-2"
                       icon="menu"
                       [disabled]="tokenFormControl.invalid"
                       (buttonClick)="create()">
        {{LabelsConstants.CREATE}}
      </app-base-button>

      <div class="flex-grow-1"></div>

      <app-base-button type="stroked"
                       class="flex-grow-2"
                       icon="menu"
                       [disabled]="tokenFormControl.invalid"
                       (buttonClick)="remove()">
        {{LabelsConstants.REMOVE}}
      </app-base-button>
    </div>
  </div>
</div>
