<div class="account flex-column flex-align-center">
  <app-base-text-field [control]="tokenFormControl"
                       fieldClass="account__token-field"
                       [maxLength]="ValidationConstants.TELEGRAM_TOKEN_LENGTH"
                       [isPassword]="true"
                       [label]="LabelsConstants.TOKEN">
  </app-base-text-field>

  <div class="flex-row">
    <app-action-panel actionIcon="account_box"
                      [actionText]="LabelsConstants.ENTER"
                      [disabled]="tokenFormControl.invalid"
                      (action)="signIn()">
    </app-action-panel>

    <app-action-panel actionIcon="add_circle_outline"
                      [actionText]="LabelsConstants.CREATE"
                      [disabled]="tokenFormControl.invalid"
                      (action)="create()">
    </app-action-panel>
  </div>
</div>
