<div class="flex-row flex-center">
  <div class="sing-in flex-column flex-center">
    <h1>Введите токен</h1>

    <mat-form-field class="sing-in__token-field"
                    appearance="outline">
      <mat-label>Токен</mat-label>
      <input matInput
             [formControl]="tokenFormControl"
             maxlength="46"
             autocomplete="off">
      <mat-hint align="end"> {{ tokenFormControl.value.length }} / 46 </mat-hint>
      <mat-error *ngIf="tokenFormControl.invalid && tokenFormControl.errors.required">
        Обязательно для заполения
      </mat-error>
      <mat-error *ngIf="tokenFormControl.invalid && tokenFormControl.errors.minlength">
        Длина токена - 46
      </mat-error>
    </mat-form-field>

    <div class="flex-row">
      <button class="flex-grow-2"
              mat-stroked-button
              [disabled]="tokenFormControl.invalid"
              (click)="signIn()">
        Войти
      </button>

      <div class="flex-grow-1"></div>

      <button class="flex-grow-2"
              mat-stroked-button
              [disabled]="tokenFormControl.invalid"
              (click)="create()">
        Создать
      </button>

      <div class="flex-grow-1"></div>

      <button class="flex-grow-2"
              mat-stroked-button
              [disabled]="tokenFormControl.invalid"
              (click)="remove()">
        Удалить
      </button>
    </div>
  </div>
</div>
